.daniel {
    color: antiquewhite;
    border-radius: 8px;
    grid-area: daniel;
    padding: 10px;

    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
.daniel:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}


.jonathan {
    background-color: #434242;
    border-radius: 8px;
    grid-area: jonathan;
    padding: 10px;


}
.jenni {
    background-color: antiquewhite;
    color: black;
    border-radius: 8px;
    grid-template-columns: jenni;
    padding: 10px;

}
.patrick {
    background-color: #2C3333;
    color: antiquewhite;
    border-radius: 8px;
    grid-area: patrick;
    padding: 10px;

    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform; 


}

.patrick:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.kira {
    background-color: antiquewhite;
    color: black;
    border-radius: 8px;
    grid-area: kira;
    padding: 10px;
    

}
.img {
    float: left;
    margin-right: 10px;
    
}
.daniel {
    background-color: purple;
}
.dani-top p {
    line-height: ;
    font-size: 100px;
    display: inline-block;
    position: relative;
    
    
}
.dani-low p {
    font-size: 5px;
    opacity: 70%;
    margin: 50px 50px 50px 50px;
    
}
.verify {
    opacity: 50%;
}
body {
    align-items: center;
    margin: auto;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    background-color: #CEDDEF;

    
    
    
}
.whole {
    display: grid;
    grid-template-areas: 'daniel daniel jonathan kira'
                         'jenni patrick patrick kira';
    justify-content: space-between;                     
    
    grid-gap: 1.5em;
    
    
    
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    
   
    
   
    
   
    
    
    
    
    
}
h3 {
    font-size: 17px;
}
.quotes {
    position: absolute;
    top: 5%;
    left: 30%;
    opacity: 50%;
    
}